html,
body {
  margin: 0px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body {
  display: flex;
  flex-flow: column wrap;
}
.react-app {
    min-height:100%;
    display:flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height:100%;
    flex:1;
}

.header {
    height: 42px;
    line-height: 42px;
    color: #2C3E50;
    font-size: 22px;
    padding-left: 10px;
}

.footer {
    flex: 1;
    min-height: 24px;
    background: green;
}

h1 {
    font-weight: 300;
    text-align: center;
}
.container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    .selection {
        flex: 1;
        min-width:100px;
    }

    .statistics {
        flex: 1;
        min-width:100px;
        justify-content: center;
    }
}

.leaflet-container img {
    transition: .5s linear;
}

.map {
    display: flex;
    flex: 3;
    min-width:300px;
}
